<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="shortcut icon" href="img/favicon/favicon-32x32.png" type="image/x-icon">

    <title>Final Fantasy: Tales of Cryshalia - Cadastro</title>

</head>

<body class="backgroud">
    <div class="container, bg">
        <div>
            <h3>Login:</h3>
            <label for="name" style="padding-top:3%"> Usuário </label>
            <input type="text" id="idNome" name="nome" class="form-control" required placeholder="Digite seu usuário">

            <label for="password" style="padding-top:3%"> Senha </label>
            <input type="text" id="idNome" name="nome" class="form-control" required placeholder="Digite seu e-mail">

            <hr>

            <input  type="submit" class="btn btn-dark" value="Entrar" onclick="mensagem()">

            <a href="/cadastro">Não tem conta? cadastre-se para jogar.</a>
            
        </div>
    </div>
</body>

</html>